#tickerContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  top: 0px;
  left: 0px;
  position: absolute;
  overflow: hidden;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  height: 100vh;
  /* font-family: 'Poppins', sans-serif; */
  /* letter-spacing: -0.1rem; */
}

#tickerMain1 {
  display: flex;
  /*  hides the orginal seed for the ticker */
  top: -50vh;
  height: 25vh;
  line-height: 25vh;
  font-size: 20vh;
  color: rgb(255, 255, 255);
  flex-wrap: nowrap;
  position: absolute;
  white-space: nowrap;
  /* letter-spacing: -0.1rem; */

}

#tickerMain2 {
  display: flex;
  /*  hides the orginal seed for the ticker */
  top: -50vh;
  height: 25vh;
  line-height: 25vh;
  font-size: 9vh;
  color: rgb(255, 244, 244);
  flex-wrap: nowrap;
  position: absolute;
  white-space: nowrap;
  /* letter-spacing: -0.1rem; */

}

#tickerMain3 {
  display: flex;
  /*  hides the orginal seed for the ticker */
  top: -50vh;
  height: 25vh;
  line-height: 25vh;
  font-size: 3vh;
  color: rgb(255, 244, 244);
  flex-wrap: nowrap;
  position: absolute;
  white-space: nowrap;
  /* letter-spacing: -0.1rem; */

}

#tickerMain4 {
  display: flex;
  /*  hides the orginal seed for the ticker */
  top: -50vh;
  height: 25vh;
  line-height: 25vh;
  font-size: 12vh;
  color: rgb(255, 255, 255);
  flex-wrap: nowrap;
  position: absolute;
  white-space: nowrap;
  /* letter-spacing: -0.1rem; */

}